#!/bin/bash

# Get nginx template file
mkdir -p /etc/nginx-gen
curl https://raw.githubusercontent.com/jwilder/nginx-proxy/master/nginx.tmpl > /etc/nginx-gen/nginx.tmpl

# Install jq/docker
yum update -y
yum install -y jq docker
sudo usermod -aG docker ${username}

# Start docker
service docker start


